header.header
    .container
        a.header__logo(href="")
            img.header__logo-pic(src="img/logo.png" , alt="A-Industry")

        nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link(href="/") Выбор проекта дома
                li.nav__item
                    a.nav__link.active(href="#") Выбор земли
                li.nav__item
                    a.nav__link(href="#") Итоговый расчет
                li.nav__item
                    a.nav__link(href="#") Контакты
        .header__contacts
            a.header__contacts-tel(href="tel:8123092983")
                span (812)
                |309-29-83
            a.header__contacts-btn(href="#") Заказать обратный звонок
