section.intro
    .container
        .intro__text
            h2 Поменяй свою квартиру на новый загородный дом!
            p Обмен жилья происходит на условиях взаиморасчета. Мы оцениваем стоимость вашей квартирыи предлагаем вам варианты домов, которые соотвествуют рассчитанной стоимости.
        .intro__right
            img.intro__right-pic(src="img/intro-img.jpg", alt="photo")
            .intro__form
                form.intro__form-form(method="get")
                    input.intro__form-input.intro__form-input-square(type="text", placeholder="Площадь вашей квартиры")
                    input.intro__form-input.intro__form-input-district(type="text", placeholder="Район")
                    input.intro__form-input.intro__form-input-contacts(type="text", placeholder="Email или телефон")
            input.intro__form-submit(type="submit",value="Оставить заявку")

